/* Menu.module.css */
.menu {
  max-width: 250px;
  background-color: #7ed7eb;
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  padding: 10px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #0056b3;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 200px;
  height: auto;
  padding: 10px;
}
