.word-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f6e0c3;
  border-radius: 15px;
  margin: 10px;
}

.word-card h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.word-card input,
.word-card button {
  margin-bottom: 10px;
}

.word-cards-container {
  margin-top: 20px;
}

.word-card p {
  font-size: 16px;
  margin-bottom: 4px;
}

.favorite-button {
  margin-top: 8px;
  color: red;
  background-color: transparent;
  transition: color 0.3s ease;
}

.favorite-button:hover {
  color: darkred;
}

.favorite-button-active {
  color: transparent;
}

.show-translation-button {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;

  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.show-translation-button:hover {
  background-color: #0056b3;
}

.word-card button {
  font-size: 20px;
  border: none;
  cursor: pointer;
}
