.wordListPage {
  margin-left: 250px; /* Выравнивание с отступом слева, равным ширине меню */
  min-height: calc(
    100vh - 80px
  ); /* Высота видимой части окна минус высота футера */
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #ffc0cb;
  padding: 15px;
}

.input-field {
  flex: 1;
  height: 30px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: height 0.2s;
}

.input-field:hover {
  transform: scale(1.1);
}

.add-button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s;
}

.add-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.add-button:focus {
  outline: none;
}
